<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts</key>
	<dict>
		<key>regularText</key>
		<dict>
			<key>style</key>
			<string>Regular</string>
			<key>name</key>
			<string>Zapfino</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
	</dict>
	<key>Colors</key>
	<dict>
		<key>red</key>
		<string>#FF0002</string>
		<key>white</key>
		<string>#FFFFFF</string>
		<key>orange</key>
		<string>#FF4600</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>icon</key>
		<string>gearIcon</string>
	</dict>
</dict>
</plist>
